*.class
*.jar
/Model/SearchEngine/target/
/IO/target/
/Saver/target/
/Core/target/
/Model/Memory/target/
/Utils/target/
/Model/Statistics/target/
/Model/SolutionCenter/target/
/Model/Analisys/target/
.idea
/target/
/Model/target/javadoc-bundle-options/javadoc-options-javadoc-resources.xml
javadoc-bundle-options
